<div class="container, jumbo">
<div class="row">
    <div  class="col-sm-12 col-md-6 col-lg-7">
      <div class="row">
        <div style="padding-top:80px">

          <h1>Welcome to Student's portal</h1>
          <h4>A place to find all your information.</h4>
          <p><a class="btn btn-primary btn-sm" href="#" role="button">Learn more &raquo;</a></p>


        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5">
      <div class="row" style="padding-top:40px">
        <form>
          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="email" class="form-control" id="userName" placeholder="Registration Number">
          </div>
          <div class="form-group">
            <label for="pswrd">Password</label>
            <input type="password" class="form-control" id="pswrd" placeholder="Password">
          </div>
          <div class="form-group">
            <a href="/forgotpassword">Forgot Password?</a>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="row" style="padding: top 50px">
        <h1>Instructions</h1>
        <ul>
          <li>First time users use your data of birth as password.</li>
          <li>You will be prompted to change your password on your first login.</li>
        </ul>
      </div>
    </div>
  </div>
</div>