.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.jumbo{
    /* width: 100vw; */
    padding: 50px 20px 50px 50px;
    /* background-color: rgb(129, 125, 125); */
    margin-top: 50px;
    position: relative;
    /* width: 100vw; */
}